<?xml version="1.0" encoding="utf-8"?>
<widget id="io.github.pxcan.example" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FROGE</name>
    <description>
        How many screens can you clear?
    </description>
    <author href="https://nigel.fyi">
        Nigel.FYI
    </author>
    <content src="index.html"/>
    <preference name="Orientation" value="portrait"/>
    <platform name="android">
        <preference name="android-minSdkVersion" value="21"/>
    </platform>
</widget>